[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BMAmevt"]
	path = BMAmevt
	url = https://github.com/lbelzile/bmamevt
[submodule "TruncatedNormal"]
	path = TruncatedNormal
	url = https://github.com/lbelzile/truncatednormal
[submodule "VaRES"]
	path = VaRES
	url = https://github.com/lbelzile/vares
[submodule "evt0"]
	path = evt0
	url = https://github.com/lbelzile/evt0
[submodule "hkevp"]
	path = hkevp
	url = https://github.com/lbelzile/hkevp
[submodule "jointPm"]
	path = jointPm
	url = https://github.com/lbelzile/jointpm
[submodule "lcopula"]
	path = lcopula
	url = https://github.com/lbelzile/lcopula
[submodule "longevity"]
	path = longevity
	url = https://github.com/lbelzile/longevity
[submodule "mev"]
	path = mev
	url = https://github.com/lbelzile/mev
